{% extends 'base.html.twig' %}

{% block title %}FluffyRagdolls - Inscription{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light mb-4 custom-shadow">
                    <div class="card-body">
                        {{ form_start(registrationForm) }}
                            <div class="box">
                                {{ form_row (registrationForm.email) }}
                            </div>
                            <div class="box">
                                {{ form_row (registrationForm.username) }}
                            </div>
                            <div class="box">
                                {{ form_row (registrationForm.plainPassword) }}
                            </div>
                            <div class="box">
                                {{ form_row (registrationForm.city) }}
                            </div>
                            {{ form_row (registrationForm.is_breeder) }}
                            <div class="box">
                                {{ form_row (registrationForm.siret) }}
                            </div>
                            <div class="box">
                                {{ form_row (registrationForm.phone_number) }}
                            </div>
                            {{ form_row (registrationForm.agreeTerms) }}
                            <div class="d-flex justify-content-end">
                               <button type="submit" class="btn btn-danger">Créer le compte</button>
                            </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_errors(registrationForm) }}
    </main>
    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const breederCheckbox = document.querySelector('[data-toggle="breeder-toggle"]');
                const breederFields = document.querySelectorAll('[data-breeder="true"]');

                // Fonction pour afficher ou masquer les champs
                function toggleBreederFields() {
                    breederFields.forEach(field => {
                        field.style.display = breederCheckbox.checked ? 'block' : 'none';
                        field.required = breederCheckbox.checked; // rendre obligatoire si is_breeder est coché
                    });
                }

                // Initialiser l'affichage au chargement de la page
                toggleBreederFields();

                // Écouteur pour détecter les changements sur la case à cocher
                breederCheckbox.addEventListener('change', toggleBreederFields);
            });
        </script>
    {% endblock %}
{% endblock %}
