{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/post.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="post-focus col-md-5">
            <p>{{ post.title }}</p>
            <p class="post-focus-username">{{post.user.username}}</p>
        </div>
        <hr>
        

        {% for comment in comments %}
            <div class="post-focus-comment col-md-5">
                <p>{{ comment.content }}</p>
                <p class="post-focus-username"><small>Posté par {{ comment.user.username }} le {{ comment.createdAt|date('Y-m-d H:i', "Europe/Paris") }}</small></p>
            </div>
        {% else %}
            <p>Aucun commentaire pour le moment.</p>
        {% endfor %}
        <button class="btn btn-danger my-2"><a class="link-post" href="{{ path('app_comment_create', {'postId': post.id}) }}">Ajouter un commentaire</a></button>
    </main>
    {% for comment in comments %}
    
    {% else %}
    <footer class="footer-sticky">
        <p>© Agathe Dupuis 2024</p>
    </footer>
    {% endfor %}
{% endblock %}
